@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #181a1f;
  --foreground: #171717;

  --negative-red: #ff8c1a;
  --positive-green: #94ff1a;
  --gray: #c7c3bf;
  --primary-text: #ededed;
  --terminal-text: #94ff1a;
  --title-text: #1e1d29;

  --default-border-radius: 8px;
  --large-border-radius: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


